In [1]:
import sqlite3
import pandas as pd
import os

In [2]:
con = sqlite3.connect('database.sqlite')

In [3]:
df_player = pd.read_sql_query("SELECT * FROM Player", con)

In [4]:
df_attr = pd.read_sql_query("SELECT * FROM Player_Attributes", con)

In [5]:
df_attr.to_csv('debug.csv')

In [6]:
df_player

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [7]:
df_attr

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [8]:
df_player = df_player.merge(df_attr,how="inner",on="player_api_id")

In [9]:
df_combined = df_player

In [10]:
df_combined['month'] = pd.DatetimeIndex(df_combined['date']).month
df_combined['transfer_year'] = pd.DatetimeIndex(df_combined['date']).year

In [11]:
filtered_df = pd.read_csv('fixed_year.csv')

In [13]:
filtered_df['transfer_year_low'] = filtered_df['transfer_year'] - 1

In [14]:
filtered_df

,transfer_year,player_name,team_left,league_left,joined_team,joined_league,fee_in_pounds,transfermarkt_val,position,birth_year,transfer_age,transfer_year_low
0,2007,Craig Gordon,Heart of Midl.,Premiership,Sunderland,Premier League,9000000.0,1000000,Goalkeeper,1983,24,2006
1,2007,Diego LÃ³pez,Real Madrid,LaLiga,Villarreal,LaLiga,6000000.0,2000000,Goalkeeper,1982,25,2006
2,2007,Ã“scar Ustari,Independiente,Torneo Final,Getafe,LaLiga,5000000.0,5000000,Goalkeeper,1986,21,2006
3,2007,Raphael SchÃ¤fer,1.FC Nuremberg,Bundesliga,VfB Stuttgart,Bundesliga,1000000.0,4000000,Goalkeeper,1979,28,2006
4,2007,Charles Itandje,Lens,Ligue 1,Liverpool,Premier League,1000000.0,4000000,Goalkeeper,1983,24,2006
...,...,...,...,...,...,...,...,...,...,...,...,...
7479,2020,Georgios Giakoumakis,AEK Athens,Super League 1,VVV-Venlo,Eredivisie,180000.0,293000,Forward,1995,25,2019
7480,2020,JÃ¶rgen Strand Larsen,Sarpsborg 08,Eliteserien,FC Groningen,Eredivisie,990000.0,270000,Forward,2000,20,2019
7481,2020,Stanislav Shopov,Botev Plovdiv,efbet Liga,Heerenveen,Eredivisie,135000.0,225000,Midfielder,2002,18,2019
7482,2020,Niels Nkounkou,Marseille B,National 2 - Grp. C,Everton,Premier League,243000.0,-1,Defender,2001,19,2019
7483,2020,Mateo Les,Din. Zagreb II,2.HNL,Heracles Almelo,Eredivisie,198000.0,-1,Defender,2000,20,2019

In [16]:
df_combined = df_combined.merge(filtered_df, on=['player_name', 'transfer_year'])

In [17]:
df_2 = df_combined
df_2.drop(columns = ['id_x', 'player_api_id', 'player_fifa_api_id_x', 'id_y', 'player_fifa_api_id_y', 'birth_year', 'month', 'transfer_year', 'transfer_age', 'transfer_year_low'])

,player_name,birthday,height,weight,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,...,gk_kicking,gk_positioning,gk_reflexes,team_left,league_left,joined_team,joined_league,fee_in_pounds,transfermarkt_val,position
0,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,2014-12-05 00:00:00,71.0,77.0,left,medium,medium,...,8.0,8.0,11.0,Ipswich,Championship,West Ham,Premier League,4000000.0,1000000,Defender
1,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,2014-11-07 00:00:00,71.0,77.0,left,medium,medium,...,8.0,8.0,11.0,Ipswich,Championship,West Ham,Premier League,4000000.0,1000000,Defender
2,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,2014-09-18 00:00:00,70.0,77.0,left,medium,medium,...,8.0,8.0,11.0,Ipswich,Championship,West Ham,Premier League,4000000.0,1000000,Defender
3,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,2014-05-02 00:00:00,70.0,79.0,left,medium,medium,...,8.0,8.0,11.0,Ipswich,Championship,West Ham,Premier League,4000000.0,1000000,Defender
4,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,2014-04-04 00:00:00,70.0,79.0,left,medium,medium,...,8.0,8.0,11.0,Ipswich,Championship,West Ham,Premier League,4000000.0,1000000,Defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10550,Zouhair Feddal,1989-01-01 00:00:00,190.50,172,2013-11-15 00:00:00,62.0,66.0,left,medium,medium,...,12.0,10.0,8.0,FUS Rabat,Botola Pro,Parma,Serie A,315000.0,675000,Defender
10551,Zouhair Feddal,1989-01-01 00:00:00,190.50,172,2013-09-20 00:00:00,62.0,66.0,left,low,medium,...,12.0,10.0,8.0,FUS Rabat,Botola Pro,Parma,Serie A,315000.0,675000,Defender
10552,Zoumana Camara,1979-04-03 00:00:00,182.88,168,2007-08-30 00:00:00,77.0,78.0,right,low,medium,...,53.0,21.0,21.0,Saint-Ã‰tienne,Ligue 1,Paris SG,Ligue 1,5000000.0,4000000,Defender
10553,Zoumana Camara,1979-04-03 00:00:00,182.88,168,2007-02-22 00:00:00,77.0,78.0,right,low,medium,...,73.0,13.0,6.0,Saint-Ã‰tienne,Ligue 1,Paris SG,Ligue 1,5000000.0,4000000,Defender
10554,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,2008-08-30 00:00:00,77.0,80.0,right,medium,low,...,73.0,20.0,20.0,1.FC Nuremberg,2. Bundesliga,VfL Wolfsburg,Bundesliga,3000000.0,5000000,Midfielder

In [18]:
df_2['fee_in_pounds'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
10550    False
10551    False
10552    False
10553    False
10554    False
Name: fee_in_pounds, Length: 10555, dtype: bool

In [19]:
df_2.to_csv('combined_data.csv')