In [1]:
import pandas as pd
import os
from bs4 import BeautifulSoup
import csv
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\Meehir\\Documents\\GitHub\\project-2'

In [3]:
test = open('uefa_club_coefficients/f.html')

In [4]:
soup = BeautifulSoup(test, 'lxml')

In [7]:
soup.find_all("th", class_="table_member-season")

[<th class="table_member-season" title="season_1993">season_1993</th>,
 <th class="table_member-season" title="season_1994">season_1994</th>,
 <th class="table_member-season" title="season_1995">season_1995</th>,
 <th class="table_member-season" title="season_1996">season_1996</th>,
 <th class="table_member-season" title="season_1997">season_1997</th>]

In [8]:
headers = []
for season in soup.find_all("th", class_="table_member-season"):
    headers.append(season.text)

In [39]:
headers.append('Pts')

In [9]:
pos = []
for span in soup.find_all("td", class_ = "table_member-pos"):
    pos.append(span.text)

In [10]:
names = []
for name in soup.find_all("td", class_ = "table_member-name"):
    names.append(name.text[100:1000].strip())

In [11]:
0%5

0

In [12]:
scores = []
count = 0
for el in soup.find_all("td", class_="table_member-season"):
    scores.append(el.text)

In [18]:
l = []
arr = np.array(scores)
f = list(np.array_split(arr, len(arr)/5))

In [24]:
t = np.where(arr=='-', '0', arr)
f = [list(x) for x in f]
#f = [0 for x in f if x == '-']

In [33]:
tot_scores = []
for el in soup.find_all("td", class_="table_member-points"):
    tot_scores.append(el.text.strip())

In [34]:
tot_scores

['60.735',
 '46.532',
 '45.400',
 '43.949',
 '36.350',
 '34.800',
 '30.816',
 '24.200',
 '23.950',
 '23.499',
 '22.500',
 '22.325',
 '22.250',
 '19.800',
 '19.175',
 '17.250',
 '16.666',
 '15.675',
 '15.175',
 '14.750',
 '13.999',
 '13.333',
 '12.999',
 '12.707',
 '12.125',
 '10.331',
 '10.000',
 '9.416',
 '9.165',
 '7.750',
 '7.708',
 '7.333',
 '6.665',
 '4.000',
 '3.916',
 '3.832',
 '3.500',
 '3.166',
 '2.831',
 '2.750',
 '2.500',
 '2.498',
 '2.333',
 '2.332',
 '2.083',
 '1.750',
 '1.333',
 '0.916']

In [37]:
df = pd.DataFrame(columns=headers)

In [38]:
df

Empty DataFrame
Columns: [season_1993, season_1994, season_1995, season_1996, season_1997]
Index: []