In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\Meehir\\Documents\\GitHub\\project-2\\uefa_club_coefficients'

In [3]:
rev_df = pd.read_csv('overview.csv', encoding= 'unicode_escape')
df_2020 = pd.read_csv('2020.csv', encoding='unicode_escape')

In [4]:
player_df = pd.read_csv('flat.csv', encoding='utf-8')

In [5]:
player_df2 = pd.read_csv('filtered_data.csv', encoding='utf-8')

In [15]:
keep_leagues = ['Serie A', 'Premier League', 'Bundesliga', 'LaLiga', 'Ligue 1', 'Eredivisie']
#rev_df = rev_df[rev_df['Competition'].isin(keep_leagues)]
rev_df = rev_df.set_index('Country')

KeyError: "None of ['Country'] are in the columns"

In [7]:
rev_df = rev_df.transpose()
dict_y = rev_df.to_dict()

<ipython-input-7-b4a111912317>:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  dict_y = rev_df.to_dict()

In [8]:
league_stats = list(dict_y.values())

In [9]:
import json

x = str(league_stats).replace("'", '"')
j = json.loads(x)

In [10]:
def format_price(x):
    if x[-3:] == 'Th.':
        return 1000 * float(x[1:-3])
    elif x[-1:] == 'm':
        return 10**6 * float((x[1:-1]))
    elif x == '-':
        return -1
    elif x[-2:] == 'bn':
        return 10**9 * float((x[1:-2]))
    else:
        int(float((x[1:])))

In [11]:
df_leagues = pd.read_json(json.dumps(j))

In [12]:
df_leagues

,Country,Clubs,Player,Avg. age,Foreigners,Game ratio of foreign players,Goals per match,Average market value,Total value
0,England,20,567,26.6,61.60%,63.20%,3.79,$473.80m,$9.48bn
1,Italy,20,593,26.8,59.70%,62.50%,3.50,$278.73m,$5.57bn
2,Spain,20,503,27.4,39.20%,38.00%,2.21,$274.30m,$5.49bn
3,Austria,12,323,24.8,31.60%,29.50%,3.42,$27.27m,$327.25m
4,France,20,564,25.2,47.70%,47.30%,2.67,$172.68m,$3.45bn
5,Portugal,18,532,25.4,64.70%,64.50%,2.46,$66.68m,$1.20bn
6,Ukraine,14,368,25.7,20.40%,19.20%,2.94,$26.65m,$373.12m
7,Netherlands,18,466,24.4,43.60%,43.10%,3.03,$53.14m,$956.45m
8,Turkey,21,598,27.3,51.50%,63.90%,2.13,$38.30m,$804.40m
9,Belgium,18,533,24.9,59.80%,62.00%,2.92,$43.61m,$784.93m
10,Greece,14,427,25.7,49.90%,61.80%,2.13,$23.64m,$331.02m
11,Scotland,12,310,25.9,49.70%,50.30%,2.44,$22.14m,$265.62m
12,Switzerland,10,296,24.3,49.00%,49.30%,2.60,$23.46m,$234.63m
13,Czech Republic,18,481,26.1,24.30%,21.70%,3.02,$12.82m,$230.84m
14,Denmark,12,314,24.7,37.90%,35.00%,3.21,$19.01m,$228.09m
15,Serbia,20,580,24.7,15.70%,15.90%,2.90,$10.85m,$216.95m
16,Poland,16,496,25.0,33.70%,41.30%,2.88,$13.25m,$211.97m
17,Romania,16,491,25.6,30.80%,32.30%,2.62,$12.63m,$202.10m
18,Croatia,10,280,24.8,39.30%,37.90%,2.72,$19.41m,$194.10m
19,Sweden,16,418,25.9,31.10%,34.80%,2.78,$11.02m,$176.30m
20,Norway,16,402,25.4,29.60%,29.60%,3.24,$8.66m,$138.52m
21,Cyprus,14,408,26.7,61.80%,73.40%,2.65,$9.75m,$136.57m
22,Israel,14,404,24.9,19.30%,26.70%,3.07,$9.18m,$128.45m

In [13]:
df_leagues['Total value'] = df_leagues['Total value'].apply(lambda x: format_price(x))
df_leagues['Average market value'] = df_leagues['Average market value'].apply(lambda x: format_price(x))

In [14]:
df_leagues =  df_leagues[df_leagues['Competition'].isin(keep_leagues)]

,Country,Clubs,Player,Avg. age,Foreigners,Game ratio of foreign players,Goals per match,Average market value,Total value
0,England,20,567,26.6,61.60%,63.20%,3.79,473800000.0,9.480000e+09
1,Italy,20,593,26.8,59.70%,62.50%,3.50,278730000.0,5.570000e+09
2,Spain,20,503,27.4,39.20%,38.00%,2.21,274300000.0,5.490000e+09
3,Austria,12,323,24.8,31.60%,29.50%,3.42,27270000.0,3.272500e+08
4,France,20,564,25.2,47.70%,47.30%,2.67,172680000.0,3.450000e+09
5,Portugal,18,532,25.4,64.70%,64.50%,2.46,66680000.0,1.200000e+09
6,Ukraine,14,368,25.7,20.40%,19.20%,2.94,26650000.0,3.731200e+08
7,Netherlands,18,466,24.4,43.60%,43.10%,3.03,53140000.0,9.564500e+08
8,Turkey,21,598,27.3,51.50%,63.90%,2.13,38300000.0,8.044000e+08
9,Belgium,18,533,24.9,59.80%,62.00%,2.92,43610000.0,7.849300e+08
10,Greece,14,427,25.7,49.90%,61.80%,2.13,23640000.0,3.310200e+08
11,Scotland,12,310,25.9,49.70%,50.30%,2.44,22140000.0,2.656200e+08
12,Switzerland,10,296,24.3,49.00%,49.30%,2.60,23460000.0,2.346300e+08
13,Czech Republic,18,481,26.1,24.30%,21.70%,3.02,12820000.0,2.308400e+08
14,Denmark,12,314,24.7,37.90%,35.00%,3.21,19010000.0,2.280900e+08
15,Serbia,20,580,24.7,15.70%,15.90%,2.90,10850000.0,2.169500e+08
16,Poland,16,496,25.0,33.70%,41.30%,2.88,13250000.0,2.119700e+08
17,Romania,16,491,25.6,30.80%,32.30%,2.62,12630000.0,2.021000e+08
18,Croatia,10,280,24.8,39.30%,37.90%,2.72,19410000.0,1.941000e+08
19,Sweden,16,418,25.9,31.10%,34.80%,2.78,11020000.0,1.763000e+08
20,Norway,16,402,25.4,29.60%,29.60%,3.24,8660000.0,1.385200e+08
21,Cyprus,14,408,26.7,61.80%,73.40%,2.65,9750000.0,1.365700e+08
22,Israel,14,404,24.9,19.30%,26.70%,3.07,9180000.0,1.284500e+08